---
layout: layout.liquid
title: Richard Glosser's Synthie
---

  <h1>Richard Glosser's <strong>Synthie</strong></h1>
  <p>This is Project One for CSE 471 Media Processing and Computing. This is a Solo project. I chose to do the Organ Instrument, 
  and used the Reverb Effect. Feel free to navigate my site to see my work!</p>
  <a href="/downloads/RichardGlosserSynthie.zip" download>
  <button class="download-button">Download ZIP</button>
  </a>